extends layout

block link
  link(rel='stylesheet', href='/styles/datetimepicker.min.css')
  link(rel='stylesheet', href='/styles/personal.css')

block content
  div#user-container.container
    div.row
      div.left.col-xs-12.col-sm-3
        img.img-rounded(src=user.avatar, alt=user.username)
        p.name=user.username
        p.email=user.email
      div.right.col-xs-12.col-sm-9
        div.personal.personal-tabs(data-example-id='togglable-tabs')
          ul#myTabs.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a#load-tab(href='#load', role='tab', data-toggle='tab', aria-controls='load', aria-expanded='true') 我的历程
            li(role='presentation')
              a#history-tab(href='#history', role='tab', data-toggle='tab', aria-controls='history', aria-expanded='false') 上传历史
          div#myTabContent.tab-content
            div#load.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='load-tab')
              .timeline
                
                - for (var loadIndex in load)
                  article
                    h3
                      span=load[loadIndex].year
                      i.more ...
                    - for (var dayIndex in load[loadIndex].items)
                      section
                        - var color_arr = ['point-purple', 'point-yellow', 'point-green', 'point-blue']
                        - var color_class = color_arr[parseInt(Math.random()*4)]
                        span.point-time(class=color_class)
                        time(datetime='2013-03')
                          span=load[loadIndex].items[dayIndex]._id.substring(5, 7) + '月 ' + load[loadIndex].items[dayIndex]._id.substring(8, 10) + '日'
                        aside
                          p.things=(load[loadIndex].items[dayIndex].is_registe ? '您于今天注册' : '您上传了如下文件')
                          p.brief
                            span
                              - var history_arr = load[loadIndex].items[dayIndex].upload_arr
                              - for (var itemIndex in history_arr)
                                a(href=history_arr[itemIndex].link, target="_blank")=history_arr[itemIndex].name
                                 |、
            div#history.tab-pane.fade(role='tabpanel', aria-labelledby='history-tab')
              form.form-inline(action='', role='form')
                fieldset
                  .form-group
                    select#search-type.form-control
                      option(value="0") 以关键字搜索
                      option(value="1") 以时间搜索
                  .form-group.start-date-group
                    .input-group.date.form_date(data-date='', data-date-format='dd MM yyyy', data-link-field='dtp_input2', data-link-format='yyyy-mm-dd')
                      input.form-control(size='16', type='text', value='', readonly='', placeholder="起始日期")
                      span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                    input#dtp_input1(type='hidden', value='')
                  .form-group.end-date-group
                    .input-group.date.form_date(data-date='', data-date-format='dd MM yyyy', data-link-field='dtp_input2', data-link-format='yyyy-mm-dd')
                      input.form-control(size='16', type='text', value='', readonly='', placeholder="结束日期")
                      span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                    input#dtp_input2(type='hidden', value='')
                  .form-group.search-group
                    input.form-control(type="text", placeholder="输入关键字")
                  .form-group.button-group
                    a.btn.btn-primary
                      i.glyphicon.glyphicon-search
                      | 搜索
              table.table.table-bordered
                thead
                  th 文件名
                  th 文件大小
                  th 时间
                  th 链接
                tbody
              div#paginator.pagination
                    
block script
  script(type="text/javascript" src="/scripts/datetimepicker.min.js" charset="UTF-8")
  script(type="text/javascript" src="/scripts/jqpaginator.min.js")
  script(type="text/javascript" src="/scripts/personal.js")
